.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vh;
  pointer-events: none;
  border-radius: 50%;
}


.Twitter-Button {
  padding: 5px;
  font-size: calc(10px + 1.5vmin);
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.Twitter-Button > p {
  color: white;
  padding-left: 10px;
  text-decoration: underline;
}

.Twitter-Button > p:hover {
  color: lightblue;
}

.Twitter-Logo {
  height: 5vh;
}
.Days-Span{
  color: lightblue;
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-header > p {
  padding: 0 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
